{% extends 'base.html.twig' %}

{% block title %}Wish manager | {{ parent() }}{% endblock %}

{% block body %}

    <div class="grid gap-y-10 grid-rows-4 grid-flow-col border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <div class="flex items-center justify-center pb-10 mt-5">
            <h2 class="text-4xl font-extrabold dark:text-white">Your wish</h2>
        </div>

        <div class="flex items-center justify-center items-center">
                {{ form_start(form) }}

            <div class="flex items-center justify-center text-lg font-medium">
                {{ form_label(form.title) }}
            </div>
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}

            <div class="flex items-center justify-center mt-5 text-lg font-medium">
                {{ form_label(form.description) }}
            </div>
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}

            <div class="flex items-center justify-center mt-5 text-lg font-medium">
                {{ form_label(form.author) }}
            </div>
                {{ form_widget(form.author) }}
                {{ form_errors(form.author) }}

            <div class="flex items-center justify-center mt-5 text-lg font-medium">
                {{ form_label(form.isPublished) }}
            </div>
            <div class="flex items-center justify-center mt-5 text-lg font-medium">
                {{ form_widget(form.isPublished) }}
            </div>
            {{ form_errors(form.isPublished) }}
            <br>
            <div class="flex items-center justify-center mt-5 mb-10 text-lg font-medium">
                <button type="submit" class="py-2.5 px-5 me-2 mb-2 text-black bg-black hover:bg-blue-800 hover:text-white focus:ring-4 focus:ring-blue-300 rounded-lg border border-black text-base dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Submit</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
